 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100vw;
    height:100vh;
    border: 1px solid white;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: beige;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 800px;
    height: 1200px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.boxes{
    position: relative;
    flex-basis: 400px;
    border-radius: 20px;
    background-color: white;
}

footer{
    background-color: transparent;
    border-radius: 4px;
    height: 170px;
    width: 800px;
    margin: auto;
    margin-top: 5px;
}

.box1{
    /* height: 180px; */
    background-image: url(formheader.webp);
    background-attachment: fixed;
    background-size: cover;
}

.box2{
    box-shadow:inset 0 7px rgb(0, 255, 64);
}

.heading1{
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

img{
    position: relative;
    left: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.box2p{
    display: inline-block;
    position: relative;
    left: 15px;
    bottom: 7px;
}

.switch_acc{
    color: blue;
    font-weight: 300;
}

.required{
    position: relative;
    top: 10px;
    left: 10px;
    color: red;
    font-weight: 500;
}

.form{
    position: absolute;
    left: 15px;
    top: 10px;
}

label{
    font-size: 19px;
    font-weight: 700;
}

input{
    border: none;
}

input:focus{
    outline: none;
}

textarea{
    border: none;
    resize: none;
}

textarea:focus{
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;}

.foot-button{
    display: flex;
    justify-content: space-between;
}

.btn1{
    display: inline-flex;
    width: 90px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: green;
    border: none;
    border-radius: 15px;
}

.btn1:hover{
    cursor: pointer;
}

.btn2{
    display: inline-flex;
    width: 90px;
    height: 30px;
    justify-content: center;
    align-items: center;
    color: green;
    background-color: transparent;
    border: none;
    border-radius: 6px;
}

.btn2{
    cursor: pointer;
}

.ft-para1{
    padding: 20px;
    font-size: 10px;
}

.ft-para2{
    font-size: 10px;
    position: relative;
    left: 60px;
}

.ft-para3{
    position: relative;
    left: 350px;
    font-size: 25px;
}
